<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= link_to '🧩 Game Hub', home_index_path, :class => "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
    <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="nav-item"><%= link_to "Admin Dashboard", rails_admin.dashboard_path, :class => "nav-item" %></li>
        <% end %>
        <li class="nav-item"><%= link_to "#{current_user.name}", edit_user_registration_path, :class => "nav-item" %></li>
        <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: "delete", :class => "nav-item" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Sign In/Sign Up", new_user_session_path, :class => "nav-item" %></li>
      <% end %>
    </ul>
  </div>   
</nav>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline ml-auto">
    <%= link_to 'Post an ad', new_post_path, :class => "btn btn-outline-success", :type => "button" %>
  </form>
</nav>