<div class="container">

  <div class="row d-flex justify-content-center">
    <div id="home-logo">
      <%= link_to image_tag('logo_sq.png'), controller: 'posts' %>
    </div>
  </div>

  <div class="row text-center d-flex justify-content-center">
    <h4>Welcome to Game Hub.</h4>
  </div>
  
  <div class="row text-center d-flex justify-content-center">
    <%= link_to 'BUY', posts_path, :class => "btn btn-warning m-3", :type => "button" %>
    <%= link_to 'SELL', new_post_path, :class => "btn btn-info m-3", :type => "button" %>
  </div>

  <div class="row text-center d-flex justify-content-center">
    <p>You can buy and sell tabletop games here.</p>
  </div>
  <div class="row text-center d-flex justify-content-center">
    <p>Just create an account and check out the ad listing.</p>
  </div>
  <div class="row text-center d-flex justify-content-center font-weight-bold">
    <p>It's that easy!</p>
  </div>

  <%= form_tag successful_checkout_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

</div>