<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
    
      <%= form_with model: @post, local: true do |form| %>

        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@post.errors.count, "error") %> prohibited
              this post from being saved:
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :title %><br>
          <%= form.text_field :title %>
        </div>

        <div class="form-group">
          <%= form.label :price %><br>
          <%= form.text_field :price %>
        </div>

        <div class="form-group">
        <div class="field">
          <%= form.radio_button :sales, "fixed_price" %>
          <%= form.label :sales, "Fixed price", :value => "fixed_price"  %>
          <%= form.radio_button :sales, "negotiable" %>
          <%= form.label :sales, "Negotiable", :value => "negotiable" %>
        </div>
        </div>

        <div class="form-group">
          <%= form.label :description %><br>
          <%= form.text_area :description, cols: "30", rows: "10", style: "white-space: pre-wrap;" %>
        </div>

        <div class="form-group">
          <%= form.label :picture %><br>
          <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
          <%= image_tag @post.picture, class: "post-img" if @post.picture.attached? %>    
        </div>

        <div class="form-group">
        <div class="field">
          <%= form.radio_button :delivery, "delivery_only" %>
          <%= form.label :delivery, "Delivery", :value => "delivery_only"  %>
          <%= form.radio_button :delivery, "collection_only" %>
          <%= form.label :delivery, "Collection", :value => "collection_only" %>
          <%= form.radio_button :delivery, "delivery_or_collection" %>
          <%= form.label :delivery, "Either", :value => "delivery_or_collection" %>
        </div>
        </div>

        <div class="form-group form-check">
        <div class="field ">
          <div class="row border rounded p-2">
            <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
              <%= b.label(class: "check_box") do %>
                <div class="col-xs-4 mr-4">
                  <%= b.check_box(class: "check_box") + " " + b.text %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        </div>

        <br>

          <p>
            <%= form.submit %>
          </p>
        <% end %>

      </div>

    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
</div>

