<div class="row">
    <table class="table table-hover table-responsive-sm">   
      <tbody>  
        <% @posts.each do |post| %>
          <tr>
            <td class="rounded"><%= image_tag post.picture, class: "post-img" if post.picture.attached? %></td>
            <td class="text-left">
              <%= post.title %>
              <p id="listing-descript"><%= post.description %></p></td>
            <td><strong>$<%= post.price %></strong></td>
          </tr>
        <% end %>
      </tbody>  
    </table>
</div>

<% @posts.each do |post| %>
  <%= link_to post_path(post), id: "posts-index-links" do %>
    <div class="row text-left p-4 border-bottom">
      <div class="col-3 text-center">
        <%= image_tag post.picture, class: "post-img" if post.picture.attached? %>    
      </div>
      <div class="col-6">
        <%= post.title %>
        <p id="listing-descript"><%= post.description %></p>
      </div>
      <div class="col-3">
        <strong>$<%= post.price %></strong>
        <p id="listing-date">
          <%= time_ago_in_words(post.created_at) %> ago
        </p>
      </div>
    </div>
  <% end %>
<% end %>
