<h1>Ad listing</h1>
<div class="post-container">
  <div class="row">
    <div class="col-12">
      <%= form_tag(posts_path, method: "get") do %>
      <div class="input-group mb-5">
        <div class="col-8 nopad">
          <%= text_field_tag :query, '', class:'form-control', placeholder:'Search...' %>
          <%# <input type=”text” name=”query” id=”query” placeholder=”I want to find…”> %>
        </div>
        <div class="col-3 nopad">
          <%= select_tag "filter", options_for_select(['Select Filter', 
          'Opt1',
          'Opt2'
          ]), class:'custom-select'%>
        </div>
        <div class="col-1 nopad">
          <%= submit_tag "Search", class:'btn btn-dark' %>
          <%# <input type=”submit” name=”commit” value=“Search” class=“btn btn-default”> %>
        </div>
      </div>
      <% end %>
    </div>
  </div>



  <div id="post-listing-container">
    <%= render 'posts/listing' %>
  </div>
</div>

<script>
  function clickSubmit() {
    $("#search_submit").trigger("click");
  }
</script>
