<div class="container mb-4">
  <div class="row">
    <div class="col-12 m-2 text-left">
      <%= link_to '< Back', posts_path %>

      <h2>
        <%= @post.title %>
      </h2>

    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-8 text-left">
        <%= image_tag @post.picture, class: "post-img" rescue image_tag 'logo_b.png', class: "post-img" %>    
      <p>
        <span class="text-green text-lg">$<%= @post.price %></span>
        <span><%= @post.sales.capitalize.gsub("_", " ") if @post.sales %></span>
      </p>
      <p>
        <%= @post.suburb.capitalize if @post.suburb %>
        <%= @post.state if @post.state %>
      </p>
      <p>
          <i><%= @post.delivery.capitalize.gsub("_", " ") if @post.delivery %></i>
      </p>
      <p>
        <strong>Description:</strong>
        <%= simple_format(@post.description) %>
      </p>
      <p>
        <% if @post.category_ids %>
          <strong>Categories:</strong>
          <% @post.category_ids.each_with_index do |cat_id, i| %>
            <% if i == @post.category_ids.length - 1 %>
              <%= @categories.find(cat_id).name %>
            <% else %>
              <%= @categories.find(cat_id).name %>, 
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class="col-sm-4 text-left">
        <p>Ad posted by <%= @name %></p>
        <% if user_signed_in? %>
            <%= mail_to @email, "Email #{@name}", subject: "[Game Hub] #{@post.title}", body: "I'm interested in your Ad. Could you tell me more?", :encode => :javascript %>
            <br>
            <br>
            <br>
            <%= render 'offers/form' %>
            <%= render @post.offers.reject(&:new_record?) %>

        <% else %>
          <p class="font-italic text-info">Sign in to contact the seller</p>
        <% end %>
    </div>

  </div>

  
  <div class="border rounded-sm p-3">
    <div class="row">
      <div class="col-6 text-left">
        <p>
          <strong>Date Listed:</strong>
          <%= time_ago_in_words(@post.created_at) %> ago
        </p>
      </div>
      <div class="col-6 text-left">
        <p>
          <strong>Last Edited:</strong>
          <%= time_ago_in_words(@post.updated_at) %> ago
        </p>
      </div>
    </div>  
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <% if can? :update, @post %>
          <%= link_to 'Edit', edit_post_path(@post) %> | 
        <% end %>
        <% if can? :destroy, @post %>
          <%= link_to 'Delete', post_path(@post), 
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |       
        <% end %>
          <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>