<div class="container mb-4">
  <div class="row">
    <div class="col-12 m-2 text-left">
      <%= link_to '< Back', posts_path %>

      <h2>
        <%= @post.title %>
      </h2>

    </div>
  </div>
  <div class="row">
    
    <div class="col-sm-8 text-left">
      <%= image_tag @post.picture, class: "show-img" if @post.picture.attached? %>
      <p>
        <span class="text-green text-lg">$<%= @post.price %></span>
        <span><%= @post.sales.capitalize.gsub("_", " ") %></span>
      </p>
      <p>
        <% if @post.delivery %>
          <i><%= @post.delivery.capitalize.gsub("_", " ") %></i>
        <% end %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= simple_format(@post.description) %>
      </p>
      <p>
        <strong>Categories:</strong>
        <% @post.category_ids.each_with_index do |cat_id, i| %>
          <% if i == @post.category_ids.length - 1 %>
            <%= @categories.find(cat_id).name %>
          <% else %>
            <%= @categories.find(cat_id).name %>, 
          <% end %>
        <% end %>
      </p>
    </div>

    <% if user_signed_in? %>
      <div class="col-sm-4 text-left">
        <p> Contact <%= @name %>: </p>
        <%= mail_to @email, "Email", subject: "[Game Hub] #{@post.title}", body: "I'm interested in your Ad. Could you tell me more?", :encode => :javascript %>
      </div>
    <% end %>

  </div>
  <div class="border rounded-sm p-3">
    <div class="row">
      <div class="col-6 text-left">
        <p>
          <strong>Date Listed:</strong>
          <%= time_ago_in_words(@post.created_at) %> ago
        </p>
      </div>
      <div class="col-6 text-left">
        <p>
          <strong>Last Edited:</strong>
          <%= time_ago_in_words(@post.updated_at) %> ago
        </p>
      </div>
    </div>  
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <% if can? :update, @post %>
          <%= link_to 'Edit', edit_post_path(@post) %> | 
        <% end %>
        <% if can? :destroy, @post %>
          <%= link_to 'Delete', post_path(@post), 
            method: :delete,
            data: { confirm: 'Are you sure?' } %> |       
        <% end %>
          <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>