<div class="container">
  <div class="row">

    <div class="col-6">
      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>

      <%= image_tag @post.picture, class: "show-img" if @post.picture.attached? %>

      <p class="lead">
        $<%= @post.price %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @post.description %>
      </p>

      <button id="checkout-button">Purchase</button>



      <% if can? :update, @post %><%= link_to 'Edit', edit_post_path(@post) %><% end %>|
      <%= link_to 'Back', posts_path %>

    </div>

    <div class="col-2">
      <p> Contact <%= User.find(@post.user_id).name %> </p>
    </div>
  </div>
</div>

  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('pk_test_51HmY9NAmy86VZXiMVt1kAQaatkbJYzxIhQQf0XO0RHNAOphQBoXG8kIn3I0lYYn4srPnfelZvqMPfKR6HWSAx9SB00ZJwPqNcs');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
      // Create a new Checkout Session using the server-side endpoint you
      // created in step 3.
      fetch('/checkout', {
        method: 'POST',
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function(result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using `error.message`.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function(error) {
        console.error('Error:', error);
      });
    });
  </script>