<div class="container">
  <div class="row">

    <div class="col-6">
      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>

      <%= image_tag @post.picture, class: "show-img" if @post.picture.attached? %>

      <p class="lead">
        $<%= @post.price %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @post.description %>
      </p>


      <% if can? :update, @post %><%= link_to 'Edit', edit_post_path(@post) %><% end %>|
      <%= link_to 'Back', posts_path %>

    </div>

    <div class="col-2">
      <p> Contact <%= User.find(@post.user_id).name %> </p>
    </div>
  </div>
</div>