<!DOCTYPE html>
<html>
  <head>
    <title>Twomkt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice text-success"><%= notice %></p>
    <p class="alert text-danger"><%= alert %></p>
    <div class="container text-center justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
